.facts {
    font-size: 2rem;
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .facts__h2 {
    width: 65vw;
    margin: 0;
    border-top: 2px solid;
    margin-top: 2rem;
  }
