.graph {
  font-size: 2rem;
  width: 65vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.graph__h2 {
  width: 65vw;
  font-weight: 300 !important;
  margin-block-end: 0;
  margin: 0;
  border-top: 1px solid;
  margin-top: 2rem;
}
.graph__ul {
  // width: 65vw;
  margin: 0;
  list-style: decimal;
  padding: 0;
  // text-align: center;
  width: max-content;
}
.graph__li {
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: #0e82ff4f 0px 4px 12px;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  list-style-position: inside;
}