.graph {
    font-size: 2rem;
    width: 95vw;
    display: flex;
    height: 300px;
    // flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    // border: red solid;
  }
  .graph__h2 {
    width: 65vw;
    margin: 0;
    border-top: 2px solid;
    margin-top: 2rem;
  }
