body {
  margin: 0;
  background-color: #f1f1f1;
  color: #2c3e50;
}
#app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 10px;
}
.header__p {
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
}