@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

:root {
  --blue: #0e83ff;
}

body {
  margin: 0;
  background: #fff;
  background: linear-gradient(
    141deg,
    rgba(255, 255, 255, 1) 64%,
    rgba(208, 234, 251, 1) 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
}
#app {
  font-family: "Lato", sans-serif;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  position: fixed;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 10px;
  background-color: var(--blue);
  box-shadow: #0b65c559 0px 5px 15px;
  color: #fff;
  padding: 1rem;

}
.header__p {
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
}
