body {
  margin: 0;
  background: linear-gradient(110deg, #51d0de 60%, #ffed4b 60%);
  background-attachment: fixed;
  backdrop-filter: blur(50px);
  color: #bf4aa8;
  min-height: 100vh;

}
#app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 10px;
}
.header__p {
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
}