body {
    margin: 0;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253, 253, 253);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
.header {
    // background-color: #eeee;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    align-self: flex-start;
}
.header__p {
    margin: 0;
    padding: 5px;
    word-wrap: break-word;
}
.container {
    font-size: 2rem;
    min-height: 300px;
    width: 95vw;
    // background-color: aqua;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  